body {
    margin: 0;
    width: 100%;
    background-color: #212121;
}

main {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    margin-top: 100px;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: auto;
    background-color: #484848;
    border-radius: 5px;
}

.cartao > img {
    height: 300px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.cartao > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;

}